.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-brand:hover {
  text-decoration:solid;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

